

<div class="pair sortable-item">
    <input />
    <input />
 @*    <MudTextField Class="w-50" T="string" ValueChanged="@HandleKeyChanged" Value="Key" Label="Key" />
    <MudTextField Class="w-50" T="string" ValueChanged="@HandleValueChanged" Value="Value" Label="Value" /> *@
</div>