<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Sortable</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <ul id="source-list" class="source-sortable">
           @foreach (var item in Nodes)
            {
                <li data-item-type="@item">@item</li>
            }
        </ul>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    public List<string> Nodes = new List<string>()
    {
        "Receipt",
        "DataContext",
        "Dictionary",
        "Pair",
        "Resources",
        "DataSource",
        "Body",
        "Row",
        "Border",
        "Image",
        "TextBlock",
        "Repeater",
        "Run"
    };

}
