




<div class="bodyComponent">
    <MudTextField Label="Width" T="string" Value="Width" ValueChanged="OnWidthChanged" />
    <MudTextField Label="Background" T="string" Value="Background" ValueChanged="OnBackGroundChanged" />
</div>
