



<div class="run">
    <MudTextField T="string" Label="FontSize" Value="FontSize" ValueChanged="OnFontSizeChanged" />
    <MudTextField T="string" Label="Content" Value="Content" ValueChanged="OnContentChanged" />
    <MudTextField T="string" Label="FontWeight" Value="FontWeight" ValueChanged="OnFontWeightChanged" />
</div>